@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

body {
  background: #18191f;
  height: 100vh;
  width: 100vw;
  color: white;

}

.header {
  height: 25vh;
}
.form{
  height: 10vh;
  width: 80%;
}
//Connect
.connection{
  margin-top: 2%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.connect{
  width: 12%;
  height: 3vh;
  margin-top: 1%;
  margin-left: auto;
  position: relative;
  display: none;
  
}
.welcome{
  color: white;
  margin:auto;
  font-size: large;
  font-weight: bold;
  border: solid 2px red;
}
.user_logo {
  width: 5%;
  height: 7vh;
  margin-left: 65%;
  background-color: white;
  border-radius: 50%;
  color: white;

}
#btn-connect{
  width: fit-content;
  align-items: center;
  margin-left: auto;
  border-radius: 5px;
  background-color: blue;
  color: white;
}
.user_logo:hover{
  background-color: crimson;
  transition: ease-in-out 3s ;

}
// TITLE

.title {
  padding: 100;
  margin: 0; 
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

label {
  position: relative;
}

span {
  z-index: 100;
  color: white;
}

.p-title{
  font-size: 3rem;
  margin-inline: 1rem;
  cursor: pointer;
}

// SEARCH
.search {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input{
  font-size: 2vh;
  padding-inline: 1vw;
  padding-block: 0.5vh;
  font-style: italic;
}



// CATEGORIES

.categories {
  height: 10vh; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.p-categories{
font-size: 1.1rem;
margin-inline: 1rem;
cursor: pointer;

}

span:hover {
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 1.5s linear infinite;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

// SOUS TITLE
.sous-title {
  width: 100vw;
  height: 5vh;
  margin-left: 5%;
}
.p-sous-title{
  font-size: 1.5rem;
}
