h3{
    margin: auto;
}

form{
    display: flex;
    justify-content: center;
    width:20%;
    margin: auto;
    flex-direction: column;
    margin-top: 5%;
}

.signup-input{
    margin-top: 5%;
    width: 100%;
}

.signup-btn{
    width: 100%;
    border-radius: 10%;
    background-color: blue;
    color: white;
    height:5vh;
    width: 20%;
    margin: 12% auto;
}