<%- include ('partials/header') %>

<h2>Categories of films</h2>

<div class="categories">
<% for( const categorie of categoriesData) { %>

        <h4 class="category"><%=categorie.label%></h4>
<% } %>
</div>

<%- include ('partials/footer') %>